/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
   max-width: 1920px;
	line-height: 1;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
   font-size: 16px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
   max-width: 100%;
   height: auto;
}

/* roboto-regular - cyrillic */

/* roboto-regular - cyrillic */
@font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 400;
   src: local(''),
        url('../fonts/roboto-v29-cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-500 - cyrillic */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 500;
   src: local(''),
        url('../fonts/roboto-v29-cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }
 /* roboto-700 - cyrillic */
 @font-face {
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   src: local(''),
        url('../fonts/roboto-v29-cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v29-cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
 }




 .wrapper{
   max-width: 1170px;
   margin: 0 auto;
}


/* Start header styles */

.header{
top: 0;
left: 0;
width: 100%;
position: absolute;
}


.header__wrapper{
   
   padding-top: 28.88px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.header__link{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 142%;
   color: #FFFFFF;
   text-decoration: none;
}

.header__tel-link{
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 142%;
   color: #FFFFFF;
   text-decoration: none;
}

.header__list{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
}

.header__item{
   margin-right: 50px;
}

.header__item:last-child{
   margin-right: 0;
}



.header__link:hover, .header__link:focus{
text-decoration: underline;
}

/* End header styles */



/* Start main styles */

.main{

}

.main__info{
   max-height: 831px;
   height: 100vh; 
  background: url('../img/headerbg2.jpg')  center no-repeat;
  background-size:cover; 
}

.main__wrapper{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 flex-direction: column;

}

.intro{
 padding-top: 207px;
}

.main__title{
   margin-bottom: 50px;
   max-width: 768px;
   font-style: normal;
   font-weight: bold;
   font-size: 96px;
   line-height: 109%;
   letter-spacing: 0.02em;
   text-align: center;
   color: #FFFFFF;
}

.main__subtitle{
   max-width: 562px;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 142%;
   text-align: center;
   color: #FFFFFF;
   margin-bottom: 50px;
}


.main__form{

}

.main__form-button{
   font-style: normal;
   font-weight: normal;
   font-size: 17px;
   line-height: 142%;
   letter-spacing: -0.01em;
   width: 118px;
  height: 34px;
  border:0;
  border-radius: 10px;
}

.main__form-button:hover{
   background: #EFA501;
}

.main__form-button:active{
   background: #F8E6BE;
}



/* End main  styles */

/* Start Tours  styles */

.tours{
   background-color: #E5E5E5;;
}

.tours__wrapper{
   padding-top: 135px;
}

.tours__title{
   margin: 0 auto;
   max-width: 473px;
   font-style: normal;
   font-weight: bold;
   font-size: 59px;
   line-height: 124%;
   text-align: center;
}

.main__nav{
margin-top: 35px;
}

.main__list{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding-bottom: 100px;
   
}

.main__list-item{
   margin-right: 30px;
   font-style: normal;
   font-weight: bold;
   font-size: 23px;
   line-height: 122%;
   color: #1B1F2B;
   
}

.main__list-item:last-child{
   margin-right: 0;
}

.main__list-link{
   text-decoration: none;
}

.main__list-link:hover{
   border-bottom: 2px solid #EFA501;
   color: #EFA501;
}


/* End Tours  styles */


/* Start cards  styles */

.main__cards{
   
   display: grid; 
   grid-template-columns: repeat(3, 370px); 
   grid-template-rows: repeat(2, 530px); 
   grid-column-gap: 30px; 
   grid-row-gap: 30px; 
   padding-bottom: 135px;
}

.main__card-pic{
  
}


.main__card{
   grid-column: span 1;
   
    
}

.main__card-title{
   padding-top: 50px;
   margin: 0 auto;
   max-width: 270px;
   padding-bottom: 16px;
   font-style: normal;
   font-weight: 500;
   font-size: 35px;
   line-height: 122%;
   color: #FFFFFF;
}

.main__card-price{
   margin: 0 auto;
   max-width: 270px;
padding-bottom: 277px;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 142%;
letter-spacing: -0.01em;
color: #FFFFFF;
}

.main__card-more{
  
   font-family: Roboto;
   font-style: normal;
   font-weight: bold;
   font-size: 23px;
   line-height: 122%;
   color: #FFFFFF;
   text-decoration: none;
   background: url(..img/icons/arrowrighticon.png) no-repeat right center;
}

.card__form{
margin-left: 50px;


}
.card__form-button{
background-color: transparent;
display: inline-flex;
align-items: center;
font-style: normal;
font-weight: bold;
font-size: 23px;
line-height: 122%;
color: #FFFFFF;
border-radius: 50px;
border: 0;
}

.card__form-button:hover{
   background: #286562;
}

.card__form-button:active{
   background: #EFA501;
}

.card__form-arrow{
   padding-left: 16px;
   
}
/* End Cards  styles */

/* Start Create tours styles */
.create__title{
   margin: 0 auto;
   max-width: 458px;
   padding-bottom: 30px;
   font-style: normal;
   font-weight: bold;
   font-size: 59px;
   line-height: 124%;
   text-align: center;
   color: #1B1F2B;
}

.create__subtitle{
   margin: 0 auto;
   max-width: 418px;
   padding-bottom: 100px;
   font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 142%;
   text-align: center;
   color: #A6A6A6;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

/* Form */

.form__wrapper{
max-width: 1170px;
background-color:#FFFFFF;
border-radius: 50px;
}

.create__form{
   max-width: 1030px;
   padding-top: 70px;
  margin: 0 auto;
 

}

.create__item{
   max-width: 500px;
 padding-bottom: 69px;
}

.create__item-title{
   max-width: 500px;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 142%;
}

.create__item-input{
   
   background-color: red;
   border: 1px solid #F4F0E9;
   border-radius: 10px;
   width: 500px;
   height: 68px;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 142%;
   color: #A6A6A6;

}

/* End Create tours style */